<!doctype html>
<html>
<head>
    <title>Express Link</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asset&family=Cardo:ital,wght@0,400;0,700;1,400&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Goblin+One&family=Honk&family=Permanent+Marker&family=Rock+Salt&family=Young+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Express Link</h1>
        <p>Stay connected with friends by sharing messages and images. 
        Engage with previous messages with replies, thumbs up, and thumbs down!</p>
        <img src="img/link.jpg" alt="21 Savage Profile Photo">
    </div>

    <div class="signup">
     <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Log In</a>
     <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Sign Up</a>
    </div>

    

</div>
</body>
</html>
